<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/vendor.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">
    {% endblock %}
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->

    {% block navigation %}
        {% include ':partials:navigation.html.twig' %}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
        {% include ':partials:footer.html.twig' %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/app.min.js') }}"></script>
        <script>
            $.material.init();
        </script>
    {% endblock %}
</body>
</html>
