# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     app_db
    database_user:     app_db_user
    database_password: 123456

    mailer_transport:  smtp
    mailer_host:       'localhost:1025'
    mailer_user:       null
    mailer_password:   null

    locale:            pl

    # A secret key that's used to generate certain security-related tokens
    secret:            24m3vtcqwy9cptuq09v3yw3984cyax0cnuvyw983v4y
