<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">Imię</div>
                <div class="panel-body">
                    Lech
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">Rasa</div>
                <div class="panel-body">
                    Człowiek
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="panel panel-default">
                <div class="panel-heading">Płeć</div>
                <div class="panel-body">
                    M
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">Klasa zawodowa</div>
                <div class="panel-body">
                    Uczeń czarodzieja
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">Charakter</div>
                <div class="panel-body">
                    Dobry
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <div class="panel panel-default">
                <div class="panel-heading">Wiek</div>
                <div class="panel-body">
                    18
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="panel panel-default">
                <div class="panel-heading">Wzrost</div>
                <div class="panel-body">
                    186
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="panel panel-default">
                <div class="panel-heading">Waga</div>
                <div class="panel-body">
                    96
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">Własy</div>
                <div class="panel-body">
                    Niebieskie
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="panel panel-default">
                <div class="panel-heading">Oczy</div>
                <div class="panel-body">
                    Niebieskie
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">Opis</div>
                <div class="panel-body">
                    Bardzo fajna postać
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">Obecna profesja</div>
                <div class="panel-body">
                    Uczeń Czarodzieja
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Przebieg kariery</div>
                <div class="panel-body">
                    Uczeń Czarodzieja
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">Profesje wyjściowe</div>
                <div class="panel-body">
                    Czarodziej, Elementalista, ALchemik
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <thead>
                <tr class="active">
                    <th>Charakterystyka</th>
                    <th>Sz</th>
                    <th>WW</th>
                    <th>US</th>
                    <th>S</th>
                    <th>Wt</th>
                    <th>Żw</th>
                    <th>I</th>
                    <th>A</th>
                    <th>Zr</th>
                    <th>CP</th>
                    <th>Int</th>
                    <th>Op</th>
                    <th>SW</th>
                    <th>Ogd</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Początkowa</th>
                    <th>5</th>
                    <th>49</th>
                    <th>37</th>
                    <th>5</th>
                    <th>3</th>
                    <th>4</th>
                    <th>1</th>
                    <th>40</th>
                    <th>39</th>
                    <th>39</th>
                    <th>44</th>
                    <th>57</th>
                    <th>39</th>
                    <th>39</th>
                </tr>
                <tr>
                    <th>Schemat rozwoju</th>
                    <th></th>
                    <th>+20</th>
                    <th>+30</th>
                    <th>+1</th>
                    <th>+3</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>+30</th>
                    <th>+10</th>
                    <th></th>
                    <th></th>
                    <th>+10</th>
                </tr>
                <tr>
                    <th>Aktualna</th>
                    <th>5</th>
                    <th>49</th>
                    <th>37</th>
                    <th>5</th>
                    <th>3</th>
                    <th>4</th>
                    <th>1</th>
                    <th>40</th>
                    <th>39</th>
                    <th>39</th>
                    <th>44</th>
                    <th>57</th>
                    <th>39</th>
                    <th>39</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Broń ręczna</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Broń strzelecka</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Zbroja</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Umiejętności</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Punkty Pancerza</div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">Umiejętności</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>